<table width="100%">
	<% @cart.each do |hyp|%>
		<% begin %>
		<% w = WideTable.find(hyp.wide_table_id)%>
		<tr>
			<td>
				(<%= w.src_table_id %>)
			</td>				
			<td>
				Name: <%= w.to_label %>
			</td>
			<td>
				<%= hyp.hyp_field %>:  <%= hyp.hyp_value %>
			</td>
			<td>
				<%= link_to(image_tag('zoom.png'), {:action => 'view_hyp', :id => w.id}, :remote => true, :class => 'remove_link', :title => 'View')%> 
				<%= link_to(image_tag('minus.png'), {:action => 'remove_hyp', :id => hyp.id}, :remote => true, :class => 'remove_link', :title => 'Remove hypothesis')%>
			</td>
		</tr>
		<% rescue %>
		<% end %>
	<% end %>
	<tr>
		<td colspan="3" align="left"><input type="checkbox" <%= @validated == true ? 'checked' : ''%> onclick="if (this.checked) {$(this).load('<%= escape_javascript url_for(:action => 'validate_collection', :id => @hyp_id) %>')} else {$(this).load('<%= escape_javascript url_for(:action => 'invalidate_collection', :id => @hyp_id) %>')}">Validated</td>
		<td colspan="1" align="right"><%= link_to(image_tag('trash_can.png', :size => '20x20', :title => 'Delete Hypothesis'), {:action => 'remove_hypothesis', :id => @hyp_id}, :remote => true, :confirm => "Are you Sure?")%></td>
	</tr>
</table>
				