<table width="100%">
	<% @cart.each do |hyp|%>
		<tr>
			<td>
				<% w = WideTable.find(hyp.wide_table_id)%>
				(<%= w.src_table_id %>)
			</td>				
			<td>
				<% w = WideTable.find(hyp.wide_table_id)%>
				<%= w.to_label %>
			</td>
			<td>
				<%= hyp.hyp_field %>:  <%= hyp.hyp_value %>
			</td>
			<td>
				<%= link_to(image_tag('zoom.png'), {:action => 'view_hyp', :id => w.id}, :remote => true, :class => 'remove_link', :title => 'View')%> 
				<%= link_to(image_tag('minus.png'), {:action => 'remove_hyp', :id => hyp.id}, :remote => true, :class => 'remove_link', :title => 'Remove hypothesis')%>
			</td>
		</tr>
	<% end %>
	<tr>
		<td colspan="4" align="right"><%= link_to(image_tag('trash_can.png', :size => '20x20', :title => 'Delete Hypothesis'), {:action => 'remove_hypothesis', :id => @hyp_name}, :remote => true, :confirm => "Are you Sure?")%></td>
	</tr>
</table>
				