<% if @value != nil %>
<h3>Searching: <%= @value[0].humanize %>: <%= link_to('<-',{:action => 'show_next', :id => @value[1].to_i-1, :field => @value[0]}, :remote => true) if ((@value[0] == 'household') and @value[1].to_i > 1) %> <%= @value[1] %> <%= link_to('->',{:action => 'show_next', :id => @value[1].to_i+1, :field => @value[0]}, :remote => true) if @value[0] == 'household' %></h3>
<% else %>
<h3>Searching:  <%= @search_terms %></h3>
<% end %>
<h4>Matching: <%= @wide_tables.size %></h4>
<table id="result_table" class="tablesorter">
	<thead>
	<th>Source</th>
	<th>Record Year</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Birth Year</th>
	<th>Race</th>
	<th>Gender</th>
	<th>Owner</th>
	<th>Purchaser</th>
	<th>Legatee</th>
	</thead>
	<tbody>
<% @wide_tables.each do |t| %>
	<tr>
		<td><%= t.src_table_id %></td>
		<td><%= t.record_year %></td>
		<td><%= t.first_name %></td>
		<td><%= t.last_name %></td>
		<td><%= t.birth_year %></td>
		<td><%= t.race %></td>
		<td><%= t.gender %></td>
		<td><%= t.owner %></td>
		<td><%= t.purchaser %></td>
		<td><%= t.legatee %></td>
		<td><%= link_to('Show', {:action => 'show_result', :id => t.id}, :remote => true )%>
<% end %>
	</tbody>
</table>