<h3>Record #<%= @wide_table.id%></h3>

<table>
	<tr>
		<td>
			Source table:
		</td>
		<td>
			<%= @source.title %>
		</td>
	</tr>
	<% fields = ['src_table_id', 'record_date', 'record_year', 'first_name', 'last_name', 'race','gender', 'age', 'birthplace', 'birth_year', 'birth_month', 'occupation', 'household', 'dwelling', 'father', 'mother', 'marital_status', 'husband','wife', 'minister', 'family', 'family_role', 'owner', 'purchaser', 'value', 'location_person', 'legatee', 'school','division','deaf','ability_to_read', 'ability_to_write', 'disposition']%>
	<% fields.each do |f| %>
		<% if @wide_table.send(f) != nil and @wide_table.send(f) != '' %>
			<tr>
				<td align="right">
					<%= f.humanize %>:
				</td>
				<td>
					<% if f == 'age' %>
						<%= link_to("#{@wide_table.age.ceil}", url_for(:action => 'update_results', :id => @wide_table.send(f), :field => f), :remote => true) %>
					<% else %>
						<%= link_to("#{@wide_table.send(f)}", url_for(:action => 'update_results', :id => @wide_table.send(f), :field => f), :remote => true) %>
					<% end %>
				</td>
				<td>
					<%= link_to(image_tag('plus.png'), url_for(:action => 'choose_cart', :id => @wide_table.id, :field => f, :value => @wide_table.send(f)), :remote => true, :title => 'Add Factoid') %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
